.navbar-logo img{
    width: 50%;
    margin-left: 20%;
}
.nike{
    font-family: inherit;
    color: crimson;
    font-size: 70px;
}
.nike2{
    font-family: inherit;
    color: rgb(72, 72, 236);
    font-size: 50px;
}
.heading2{
    font-family: inherit;
    color: darkred;
    font-size: 40px;
}
.text-danger{
    font-weight: bolder;
}
.card-body{
    border-radius: 50%;
}
.title{
    font-family: inherit;
    color: rgb(72, 72, 236);
    font-size: 25px;
    font-weight: 500;
}
